<!DOCTYPE html>
<html>
    <head>
        <title>Individual</title>
    </head>
    <body>
        <h1>Light up those LEDs</h1>
        <A href="index.html">Index</A>
        <A href="group.html">Group</A>
        <A href="patterns.html">Patterns</A>
    <form>
        <input type="radio" name="led" value="led 1">Led 1<br>
        <input type="radio" name="led" value="led 2">Led 2<br>
        <input type="radio" name="led" value="led 3">Led 3<br>
        <input type="radio" name="led" value="led 4">Led 4<br>
        <input type="radio" name="led" value="led 5">Led 5<br>
        <input type="radio" name="led" value="led 6">Led 6<br>
    </form>
    </body>
</html>
